<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Poca - Podcast &amp; Audio Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Poca - Podcast &amp; Audio Template</title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/style.css">
</head>
<body>
    <partial name="Header" />

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <partial name="Footer" />

    @*@RenderSection("Scripts", required: false)*@

    @******** All JS *******
        jQuery js*@
    <script src="~/js/jquery.min.js"></script>
    @*Popper js*@
    <script src="~/js/popper.min.js"></script>
    @*Bootstrap js*@
    <script src="~/js/bootstrap.min.js"></script>
    @*All js*@
    <script src="~/js/poca.bundle.js"></script>
    @*Active js*@
    <script src="~/js/default-assets/active.js"></script>
</body>
</html>
